<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quackware.tric"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.tric"
        android:name="MyApplication" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MyPreferenceActivity"
            android:label="@string/preferences">
        </activity>
        <activity
            android:name=".ui.TricCategoryActivity">
        </activity>
        <activity
            android:name=".ui.TricCategoryDetailActivity">
        </activity>
        <activity
            android:name=".ui.TricDetailActivity">
        </activity>

        <service android:name=".service.CollectionService" >
        </service>
    </application>
    
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>